@use "../../styles/general.scss";

.track {
  box-sizing: border-box;
  width: general.$fullWidth;
  list-style: none;
  @include general.flex(center, space-between);
  padding: 10px;
  border-bottom: 1px solid general.$gray;
  font-weight: general.$bold;
  &:first-child {
    border-top: 1px solid general.$gray;
  }
  .track-details {
    @include general.flex;
    .active {
      margin: 0 10px;
      @extend .svg-btn;
      & > svg {
        font-size: general.$font18;
      }
    }
    .delete-btn {
      @extend .svg-btn;
      & > svg {
        font-size: general.$font24;
        fill: general.$red;
      }
    }
  }
  &.active {
    background-color: general.$lightYellow;
    color: general.$green;
  }
}

@media screen and (max-width: general.$desktopBreakpoint) {
  .track {
    flex-direction: column;
    padding: 15px;
    .track-name {
      width: general.$fullWidth;
      margin-bottom: 15px;
    }
    .track-details {
      width: general.$fullWidth;
    }
  }
}