.track {
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    &:first-child {
        border-top: 1px solid gray;
    }
    .track-details {
        display: flex;
        align-items: center;
        .active {
            margin: 0 10px;
            background-color: transparent;
            border: none;
            padding: 0;
            display: flex;
            align-items: center;
            svg {
                font-size: 18px;
            }
        }
        .delete-btn {
            background-color: transparent;
            border: none;
            padding: 0;
            display: flex;
            align-items: center;
            svg {
                
                  font-size: 24px;
                    fill: red;
            }
        }
    }
    &.active {
        background-color: lightgoldenrodyellow;
        color: green;
    }
}
