@use "../../styles/fonts.scss";
@use "../../styles/colors.scss";
@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

.track {
  box-sizing: border-box;
  width: variables.$fullWidth;
  list-style: none;
  @include mixins.flex(center, space-between);
  padding: 10px;
  border-bottom: 1px solid colors.$gray;
  font-weight: fonts.$bold;
  &:first-child {
    border-top: 1px solid colors.$gray;
  }
  .track-details {
    @include mixins.flex;
    .active {
      margin: 0 10px;
      @extend .svg-btn;
      & > svg {
        font-size: fonts.$font18;
      }
    }
    .delete-btn {
      @extend .svg-btn;
      & > svg {
        font-size: fonts.$font24;
        fill: colors.$red;
      }
    }
  }
  &.active {
    background-color: colors.$lightYellow;
    color: colors.$green;
  }
}

@media screen and (max-width: variables.$desktopBreakpoint) {
  .track {
    flex-direction: column;
    padding: 15px;
    .track-name {
      width: variables.$fullWidth;
      margin-bottom: 15px;
    }
    .track-details {
      width: variables.$fullWidth;
    }
  }
}