@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$montserrat: 'Montserrat', sans-serif;
$bold: 600;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font32: 32px;