.creator {
    width: 100%;
    position: relative;
    margin: 30px 0;
    .creator-input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 15px;
        border-radius: 20px;
        border: 1px solid gray;
        font-size: 16px;
        &::placeholder {
            font-size: 16px;
            color: lightgrey;
        }
    }
    .creator-btn {
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        svg {
             font-size: 32px;
             fill: green;
        }
    }
}