@use "./styles/mixins.scss";
@use "./styles/variables.scss";

.main {
    padding-top: 50px;
    @include mixins.flex(flex-start);
    width: variables.$fullWidth;
    .content {
        @include mixins.flex;
        flex-direction: column;
        text-align: center;
        width: variables.$fullWidth;
        max-width: 560px;
    }
}



.track-list {
     width: variables.$fullWidth;
    margin-left: 0;
    padding-left: 0;
}